<Div class="grid_24_r_to_g_gradient">
  <h3>NOTTINGHAM FOREST - PLAYING SQUAD STATISTICS <%= @season.season %></h3>
</div>
<div class="grid_6">
  <h4>Competition ></h4>
</div>
<div class="grid_3">
  <h4>League</h4>
</div>
<div class="grid_3">
  <h4>League Cup</h4>
</div>
<div class="grid_3">
  <h4>FA Cup</h4>
</div>
<div class="grid_3">
  <h4>Other Cup</h4>
</div>
<div class="grid_3">
  <h4>TOTALS</h4>
</div>
<div class="grid_3">
  <h4>Forest Career</h4>
</div>

<div class="grid_6">
  <h4>Player</h4>
</div>
<% for x in 0..5  %>
<div class="grid_1">
  <h4>App</h4>
</div>
<div class="grid_1">
  <h4>Sub</h4>
</div>
<div class="grid_1">
  <h4>Gls</h4>
</div>
<% end %>