<div class="grid_24_r_to_g_gradient">
  <h3>NOTTINGHAM FOREST - MANAGERS</h3>
</div>
<div class="grid_6">
  <h4>Manager</h4>
</div>
<div class="grid_4">
  <h4>Type</h4>
</div>
<div class="grid_3">
  <h4>From</h4>
</div>
<div class="grid_3">
  <h4>To</h4>
</div>
<%= render 'layouts/pwdlfa',:alpha => false %>
<div class="grid_1">
  <h4>W%</h4>
</div>
<div class="grid_1">
  <h4>Avg</h4>
</div>