<div class="grid_24_r_to_g_gradient">
  <h3>NOTTINGHAM FOREST - INTERNATIONALS</h3>
</div>
<div class="grid_1">
  <h4>No</h4>
</div>
<div class="grid_4">
  <h4>Player</h4>
</div>
<div class="grid_3">
  <h4>Country</h4>
</div>
<div class="grid_7">
  <h4>First Cap whilst at NFFC</h4>
</div>
<div class="grid_7">
  <h4>Final Cap whilst at NFFC</h4>
</div>
<div class="grid_1">
  <h4>Caps</h4>
</div>
<div class="grid_1">
  <h4>Gls</h4>
</div>