<Div class="grid_24_r_to_g_gradient">
  <% totalcaps = @player.capsbefore + @player.capsafter + @internationals.size %>
  <h3><%= link_to @player.knownname,player_path(@player.id) %><%= " (" + @player.country.name + ") " +
    totalcaps.to_s %>
  <% if totalcaps == 1 %>
    cap
  <% else %>
    caps
  <% end %>
  (<%= @internationals.size %>
  <% if @internationals.size == 1 %>  
    cap
  <% else %>
    caps
  <% end %>
  at NFFC)</h3>
</div>
<div class="grid_1">
  <h4>Cap</h4>
</div>
<div class="grid_3">
  <h4>Date</h4>
</div>
<div class="grid_4">
  <h4>Opponents</h4>
</div>
<div class="grid_8">
  <h4>Venue</h4>
</div>
<div class="grid_2">
  <h4>Comp</h4>
</div>  
<div class="grid_2">
  <h4>Result</h4>
</div>
<div class="grid_1">
  <h4>No</h4>
</div>  
<div class="grid_1">
  <h4>On</h4>
</div>  
<div class="grid_1">
  <h4>Off</h4>
</div>
<div class="grid_1">
  <h4>Gls</h4>
</div>