  <div class="footer">
    <a href="#"><img src="../images/logos/delicious.png" /></a>
    <a href="#"><img src="../images/logos/facebook.png" /></a>
    <a href="#"><img src="../images/logos/reddit.png" /></a>
    <a href="#"><img src="../images/logos/stumbleupon.png" /></a>
    <a href="#"><img src="../images/logos/digg.png" /></a>
    <a href="#"><img src="../images/logos/twitter.png" /></a>
    <a href="#"><img src="../images/logos/google.png" /></a>
    <div class="center">
      <h6>This site does not store cookies on your computer</h6>
      <h6>© Peter Attaway 2012-</h6>
    </div>
      <a href="#"><img src="../images/logos/comment.png" /></a>
      <a href="#"><img src="../images/logos/email.png" /></a>
      <a href="#"><img src="../images/logos/search.png" /></a>
      <a href="#"><img src="../images/logos/donate.png" /></a>
      <a href="#"><img src="../images/logos/login.png" /></a>
      <a href="#"><img src="../images/logos/favourites.png" /></a>
  </div>
</div>