<% if alpha == true %>
<div class="grid_1 alpha">
<% else %>
<div class="grid_1">
<% end %>
  <h4>P</h4>
</div>
<div class="grid_1">
  <h4>W</h4>
</div>
<div class="grid_1">
  <h4>D</h4>
</div>
<div class="grid_1">
  <h4>L</h4>
</div>
<div class="grid_1">
  <h4>F</h4>
</div>
<div class="grid_1">
  <h4>A</h4>
</div>